@import "./vars.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@mixin margin-padding-classes {
  @for $i from 0 through 50 {
    $value: $i + px;
    /* margin #{$value} */
    .m-#{$i}  {margin: $value !important;}
    .ml-#{$i} {margin-left: $value !important;}
    .mr-#{$i} {margin-right: $value !important;}
    .mt-#{$i} {margin-top: $value !important;}
    .mb-#{$i} {margin-bottom: $value !important;}
    .mx-#{$i} {margin-left: $value !important; margin-right: $value !important;}
    .my-#{$i} {margin-top: $value !important; margin-bottom: $value !important;}

    /* padding #{$value} */
    .p-#{$i} {padding: $value !important;}
    .pl-#{$i} {padding-left: $value !important;}
    .pr-#{$i} {padding-right: $value !important;}
    .pt-#{$i} {padding-top: $value !important;}
    .pb-#{$i} {padding-bottom: $value !important;}
    .px-#{$i} {padding-left: $value !important; padding-right: $value !important;}
    .py-#{$i} {padding-top: $value !important; padding-bottom: $value !important;}
  }
  .m-a {
    margin: auto;
  }
}
@include margin-padding-classes;

$colors: (
  "black": $color-black,
  "blue": $color-blue,
  "yellow": $color-yellow,
  "green": $color-green,
  "red": $color-red,
  "gray": $color-gray,
  "dark-gray": $color-dark-gray,
  "light-blue": $color-light-blue,
  "main-gradient": $main-gradient,
);

@mixin text-color-classes {
  @each $name, $color in $colors {
    /* color #{$color} */
    .text-#{$name} {
      color: $color !important;
    }
    .bg-#{$name} {
      background-color: $color !important;
    }
  }
}
@include text-color-classes;

@mixin font-sizes {
  @for $i from 10 through 30 {
    $size: $i + px;
    /* font-size #{$size} */
    .fs-#{$i}  {font-size: $size;}
  }
}
@include font-sizes;

@mixin line-height {
  @for $i from 10 through 60 {
    $size: $i + px;
    /* line-height #{$size} */
    .lh-#{$i}  {line-height: $size;}
  }
}
@include line-height;

@mixin opacity {
  @for $i from 0 through 10 {
    $size: "0." + $i;
    @if $i == 10 {
      $size: $i;
    }
    /* opacity #{$size} */
    .opacity-#{$i}  {opacity: $size;}
  }
}
@include opacity;

.text-bold {
  font-weight: bold !important;
}
.text-link {
  color: $color-blue !important;
  cursor: pointer !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

.flex-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  &-left, &-right {
    flex: auto;
  }
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}

.relative {
  position: relative !important;
}

.b-a {
  border: 1px solid $color-line-gray;
}
.b-l {
  border-left: 1px solid $color-line-gray;
}
.b-r {
  border-right: 1px solid $color-line-gray;
}

.b-t {
  border-top: 1px solid $color-line-gray;
}
.b-b {
  border-bottom: 1px solid $color-line-gray;
}
.b-x {
  border-left: 1px solid $color-line-gray;
  border-right: 1px solid $color-line-gray;
}
.b-y {
  border-top: 1px solid $color-line-gray;
  border-bottom: 1px solid $color-line-gray;
}

.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.overflow-h {
  overflow: hidden;
}
.overflow-s {
  overflow: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

p {
  margin: 0 0 15px 0;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
