.preloader {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.lds-circle {
  transform: translateZ(1px);
}
.lds-circle > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FDD65C;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
