@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "./helpers.scss";
@import "./preloader.scss";

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
html {
  body {
    font-family: "Open Sans", sans-serif, Arial;
    margin: 0;
    padding: 0;
    color: $color-black;
    &.noScroll {
      overflow:hidden;
    }
    img {
      width: 100%;
    }
    .logo {
      width: 100%;
      max-width: $sm;
      margin: auto;
      padding: 20px;
      img {
        width: 100%;
      }
    }
    .container {
      max-width: $sm;
      margin: auto;
    }
    .content {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 3px 3px 20px rgba(0,0,0,0.4);
      border: 1px solid black;
      padding: 20px;
    }
    .welcome {
      &-layout {
        background: url("~@/assets/img/bg.jpg") bottom left fixed;
        background-size: cover;
        min-height: 100vh;
      }
    }
    .main {
      &-layout {
        background: url("~@/assets/img/bg.jpg") bottom left fixed;
        background-size: cover;
        min-height: 100vh;
        padding-bottom: 50px;
        .content {
          min-height: 600px;
        }
      }
    }
    button {
      border: none;
      &:disabled {
        opacity: 0.5;
      }
      &.start {
        padding: 20px;
        font-size: 28px;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        background: $main-gradient;
        text-shadow: 0 3px 7px rgba(0, 0, 0, 0.5)
      }
      &.solve {
        padding: 10px;
        font-size: 28px;
        color: $color-white;
        text-transform: uppercase;
        width: 100%;
        background: $main-gradient;
        text-shadow: 0 3px 7px rgba(0, 0, 0, 0.5)
      }
      &.small {
        padding: 5px;
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        background: $color-red;
        text-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);
      }
    }
    .items {
      &-list {
        display: block;
        .list {
          &-item {
            position: relative;
            background-color: $color-white;
            padding: 10px;
            margin-bottom: 10px;
            transition: all .3s;
            &:hover {
              box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
    .modal {
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.95);
      padding: 10px;
      &-header {
        padding-bottom: 10px;
        text-align: right;
      }
      .item {
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
    .game {
      &-data {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        li {
          list-style: none;
          display: inline-block;
        }
      }
    }
  }
}
