$color-bg: #e5e5e5;
$color-white: #ffffff;
$color-black: #343434;
$color-gray: #f2f2f2;
$color-blue: #0c8ae1;
$color-yellow: #fdd65c;
$color-green: #2cd885;
$color-red: #ac0001;
$color-light-blue: #65c0ff;
$color-dark-gray: #9f9f9f;
$color-dark-line-gray: #bfbfbf;
$color-line-gray: #dfdfdf;
$color-blue-hover: #127dc7;
$header-height: 50px;
$main-gradient: linear-gradient(
  180deg,
  $color-white 0%,
  $color-yellow 40%,
  $color-red 80%,
  #000 100%
),
$color-red;

//Media breakpoints
$sm: 768px;
$md: 992px;
$lg: 1200px;
