<template>
  <div class="404 text-center">
    <h1>Page not found</h1>
    <router-link to="/">Go to home</router-link>
  </div>
</template>

<script>
export default {
  name: "NotFound"
};
</script>
