<template>
  <div>
    <div v-if="loading">Loading shop...</div>
    <template v-if="!loading && lives > 0">
      <GameData />
      <ShopItems />
    </template>
    <template v-if="lives <= 0">
      <h3 class="text-red text-center">Game over!</h3>
      <button @click="end()" class="solve">Try again</button>
    </template>
  </div>
</template>

<script>
import { endGame } from "../utils/game";
import { getShop } from "../utils/shop";
import ShopItems from "../components/StoreItems";
import GameData from "../components/GameData";

export default {
  name: "GameMain",
  components: { ShopItems, GameData },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    lives() {
      return this.$store.state.lives;
    }
  },
  methods: {
    end() {
      endGame();
    },
    waitGameLoaded() {
      // Wait for the game is loaded, otherwise end game
      setTimeout(() => {
        if (this.loading) {
          this.end();
        }
      }, 10000);
    }
  },
  async created() {
    this.waitGameLoaded();
    this.loading = true;
    const shop = await getShop();
    if (shop) this.loading = false;
  }
};
</script>
