<template>
  <div class="welcome">
    <div class="logo">
      <img alt="dragonsofmugloar logo" src="../assets/img/logo.png" />
    </div>
    <div class="content">
      <div class="grid">
        <div class="col-desk-6 col-mob-12 col-tab-12">
          <p>
            The Kingdom of Mugloar has noticeably changed over the short time of
            just a few years – it was not long ago when the state officials
            introduced a skilled dragon trainer to the country’s payroll to
            train the scaly beasts to protect our lands against invading
            knights, hungry for royal hands in marriage – princess or
            miscellaneous. The dragon trainer was successful in fending off the
            knights and making dragons commonplace in the Mugloarian everyday.
          </p>
        </div>
        <div class="col-desk-6 col-mob-12 col-tab-12">
          <p>
            <img
              alt="dragonInBarnOnPaper"
              src="../assets/img/dragonInBarnOnPaper.png"
            />
          </p>
        </div>
      </div>
      <p class="text-center">
        <button @click="start()" class="start" v-if="!gameId">
          Start game
        </button>
        <button @click="resume()" class="start" v-else>Resume game</button>
      </p>
    </div>
  </div>
</template>

<script>
import { startGame, resumeGame } from "../utils/game";

export default {
  name: "Welcome",
  computed: {
    gameId() {
      return this.$store.state.gameId;
    }
  },
  methods: {
    start() {
      startGame();
    },
    resume() {
      resumeGame();
    }
  }
};
</script>
