<template>
  <div v-if="ad" class="item">
    <h3>Probability: {{ ad.probability }}</h3>
    <p>{{ ad.message }}</p>
    <p><b>Reward:</b> {{ ad.reward }}</p>
    <p>
      <b>Expires in:</b> {{ ad.expiresIn }}
      {{ ad.expiresIn > 1 ? "turns" : "turn" }}
    </p>
    <button class="solve mt-40" v-if="!submitted" @click="solveAd(ad.adId)">
      Try to solve
    </button>

    <div v-if="loading">
      <h3 class="text-yellow text-center">Trying to resolve...</h3>
    </div>

    <div v-if="submitted && success">
      <h3 class="text-green text-center">
        {{ message }}
      </h3>
    </div>
    <div v-if="submitted && !success">
      <h3 class="text-red text-center">
        {{ message }}
      </h3>
    </div>

    <button
      class="solve mt-40"
      v-if="!loading && submitted && !success"
      @click="$emit('closeModal')"
    >
      Try again later
    </button>
    <button
      class="solve mt-40"
      v-if="!loading && submitted && success"
      @click="$emit('closeModal')"
    >
      Great!
    </button>
  </div>
</template>

<script>
import { solveAd } from "../utils/ads";

export default {
  name: "AdListItem",
  props: {
    ad: Object
  },
  data() {
    return {
      submitted: false,
      loading: false,
      success: false,
      message: ""
    };
  },
  methods: {
    async solveAd(id) {
      this.submitted = true;
      this.ad.expiresIn -= 1;
      this.loading = true;

      const result = await solveAd(id);
      setTimeout(async () => {
        if (result) {
          const { success, message } = result;
          this.success = success;
          this.message = message;
          this.loading = false;
        }
      }, 2000);
    }
  }
};
</script>
