<template>
  <div v-if="adId" class="list-item">
    <p class="text-bold">Probability: {{ ad.probability }}</p>
    <button @click="toggleModal" class="small float-right">
      See the details
    </button>
    <p>Reward: {{ ad.reward }}</p>
    <p :class="{ 'text-red': ad.expiresIn < 2 }">
      Expires in: {{ ad.expiresIn }}
      {{ ad.expiresIn > 1 ? "turns" : "turn" }}
    </p>
    <transition name="slide-fade">
      <div class="modal" v-if="showModal">
        <div class="modal-header">
          <button class="small" @click="toggleModal">Close</button>
        </div>
        <AdItem :ad="ad" @closeModal="toggleModal" />
      </div>
    </transition>
  </div>
</template>

<script>
import AdItem from "./AdItem";
import { getAds } from "../utils/ads";

export default {
  name: "AdListItem",
  props: {
    ad: Object
  },
  components: {
    AdItem
  },
  data() {
    return {
      showModal: false
    };
  },
  computed: {
    adId() {
      return this.ad.adId;
    }
  },
  methods: {
    async toggleModal() {
      this.showModal = !this.showModal;
      document.body.classList.toggle("noScroll", this.showModal);
      if (!this.showModal) await getAds();
    }
  }
};
</script>
