<template>
  <div class="items">
    <h2>Ads</h2>
    <div class="items-list">
      <template v-for="ad in ads">
        <AdListItem :ad="ad" :key="ad.adId" />
      </template>
    </div>
  </div>
</template>

<script>
import { getAds } from "../utils/ads";
import AdListItem from "./AdListItem";

export default {
  name: "Ads",
  components: {
    AdListItem
  },
  computed: {
    ads() {
      return this.$store.state.ads;
    }
  },
  async created() {
    await getAds();
  }
};
</script>
