<template>
  <div>
    <ul class="game-data">
      <li>
        <div>
          Lives: <b :class="{ 'text-red': lives < 2 }">{{ lives }}</b>
        </div>
      </li>
      <li>
        <div>
          Level: <b>{{ level }}</b>
        </div>
      </li>
      <li>
        <div>
          Turn: <b>{{ turn }}</b>
        </div>
      </li>
    </ul>
    <ul class="game-data">
      <li>
        <div>
          Gold: <b>{{ gold }}</b>
        </div>
      </li>
      <li>
        <div>
          Score: <b>{{ score }}</b>
        </div>
      </li>
    </ul>
    <template v-if="reputation">
      <p class="text-bold mb-0 mt-10">Reputation:</p>
      <ul class="game-data mb-20">
        <li>
          <div>
            People: <b>{{ reputation.people.toFixed(2) }}</b>
          </div>
        </li>
        <li>
          <div>
            State: <b>{{ reputation.state.toFixed(2) }}</b>
          </div>
        </li>
        <li>
          <div>
            Underworld: <b>{{ reputation.underworld.toFixed(2) }}</b>
          </div>
        </li>
      </ul>
      <ul class="game-data mb-20">
        <li>
          <div>
            <button @click="getReputation()" class="small">
              Update reputation
            </button>
          </div>
        </li>
        <li>
          <div>
            <button v-if="!inShop" @click="goTo('/shop')" class="small">
              Shop
            </button>
            <button v-else @click="goTo('/game')" class="small">
              Close shop
            </button>
          </div>
        </li>
      </ul>
    </template>
  </div>
</template>

<script>
import { getReputation } from "../utils/game";
import { getAds } from "../utils/ads";

export default {
  name: "GameData",
  computed: {
    highScore() {
      return this.$store.state.highScore;
    },
    gold() {
      return this.$store.state.gold;
    },
    level() {
      return this.$store.state.level;
    },
    lives() {
      return this.$store.state.lives;
    },
    score() {
      return this.$store.state.score;
    },
    turn() {
      return this.$store.state.turn;
    },
    reputation() {
      return this.$store.state.reputation;
    },
    inShop() {
      return this.$route.path === "/shop";
    }
  },
  methods: {
    async getReputation() {
      await getReputation();
      await getAds();
    },
    goTo(path) {
      this.$router.push(path);
    }
  }
};
</script>
