<template>
  <div class="items">
    <h2>Available items in store:</h2>
    <div class="items-list">
      <template v-for="item in shopItems">
        <StoreListItem
          :item="item"
          :key="item.id"
          @processing="holdBuy = !holdBuy"
          :holdBuy="holdBuy"
        />
      </template>
    </div>
  </div>
</template>

<script>
import StoreListItem from "./StoreListItem";

export default {
  name: "StoreItems",
  components: {
    StoreListItem
    // AdListItem
  },
  data() {
    return {
      holdBuy: false
    };
  },
  computed: {
    shopItems() {
      return this.$store.state.shop;
    }
  }
};
</script>
