<template>
  <div v-if="id" class="list-item">
    <p class="text-bold">{{ item.name }}</p>
    <transition name="slide-fade" mode="out-in">
      <div v-show="success" class="text-center text-green success">
        Success!
      </div>
    </transition>
    <div class="float-right relative">
      <preloader v-if="holdBuy" />
      <div>
        <button
          class="small bg-green"
          v-if="canBuy"
          @click="purchaseItem()"
          :disabled="holdBuy"
        >
          Buy item
        </button>
        <button class="small" disabled v-else>
          Not enough gold
        </button>
      </div>
    </div>
    <p>
      Price: <b>{{ item.cost }}</b>
    </p>
  </div>
</template>

<script>
import { purchaseItem } from "../utils/shop";

export default {
  name: "StoreListItem",
  props: {
    item: Object,
    holdBuy: Boolean
  },
  data() {
    return {
      processing: false,
      success: false
    };
  },
  computed: {
    id() {
      return this.item.id;
    },
    gold() {
      return this.$store.state.gold;
    },
    canBuy() {
      return this.gold >= this.item.cost;
    }
  },
  methods: {
    showSuccess() {
      this.success = true;
      setTimeout(() => {
        this.success = false;
      }, 2000);
    },
    async purchaseItem() {
      this.$emit("processing");
      this.processing = true;

      const item = await purchaseItem(this.id);
      setTimeout(async () => {
        if (item.shoppingSuccess) this.showSuccess();
        this.$emit("processing");
        this.processing = false;
      }, 2000);
    }
  }
};
</script>

<style lang="scss">
.success {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
}
</style>
