<template>
  <div id="dragons">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || "main") + "-layout";
    }
  }
};
</script>
