<template>
  <div class="main-layout">
    <div class="container game">
      <div class="logo">
        <router-link to="/game">
          <img alt="dragonsofmugloar logo" src="../assets/img/logo.png" />
        </router-link>
      </div>
      <div class="content">
        <transition name="slide-fade" appear mode="out-in">
          <router-view />
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainLayout"
};
</script>
